.report {
    margin: 10px;
}

.heading {
    text-align: center;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .attendance-table th, .attendance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .attendance-table th {
    background-color: #f2f2f2;
  }
  